mixin nav-content()
  ul
    li: a(href = "#home") Home
    li: a(href = "#about") About
    li: a(href = "#projects") Projects

.mobile-nav
  +nav-content()

header
  .header-position
    h1.logo Shaun Meng

    nav.site-nav
      +nav-content()

    .profile

    .mobile-nav-toggle: span
