section.about#about
  .section-1
    .vector


  .section-2
    .flex-row.flex--space-around
      .col-50
        .index

      .col-50
        p Data Scientist with a team creates a cloud-based analytics and visualization platform to provide real-time insights for asset performance and predictive modeling across the globe.
        p Experienced in data processing, predictive modeling, and data visualization, it is an exciting time to be a Data Scientist, and so lucky to be able to work in this field in my future time.
