section.about#about
  .section-1
    .vector


  .section-2
    .flex-row.flex--space-around
      .col-50
        .index

      .col-50
        p I’m a graduate of Computer Science at the University of Canterbury.I have a passion for coding which makes me feel inner peace and like to solve puzzles which makes me exciting. Meanwhile, I also love the design which always makes me don't want to stop.
        p Through a few trying of career, finally, I find the loving one which I would love to donate my whole life time. With the passion and can do attitude, I'm not afraid to trying and learning anything about that and make it perfect.

