section.homepage#home
  .section-1
    .city-sihouette
      

  .section-2
    .flex-row.flex--space-around
      .col-50
        .title
          h3 Hi, I'm
          h1 Xiao Meng
          h2 Data Scientist

      .col-50
        .photo


  .section-3
      .icon
        .flex-row.flex--space-around
          a(href="https://github.com/santochaoya").icon-gh
          a(href="https://www.linkedin.com/in/xiao-meng-851b89153/").icon-linkin
          a(href="mailto:santochaoya@yahoo.com.hk").icon-email
          a(href="https://www.facebook.com/profile.php?id=100010699020541").icon-fb
