section.homepage#home
  .section-1
    .city-sihouette
    .clouds

  .section-2
    .flex-row
      .title
        .flex.flex--center
          .col-1.push-right.push-down
            h3 Hi, I'm
            h1 Shaun Meng
            h2 Programmer

      .photo
