<section id="about" class="about">
    <div class="section-1">
        <div class="vector"></div>
    </div>
    <div class="section-2">
        <div class="flex-row flex--space-around">
            <div class="col-50">
                <div class="index"></div>
            </div>
            <div class="col-50">
                <p>Data Scientist with a team creates a cloud-based analytics and visualization platform to provide real-time
                    insights for asset performance and predictive modeling across the globe.</p>
                <p>Experienced in data processing, predictive modeling, and data visualization, it is an exciting time to be a Data Scientist, 
                    and so lucky to be able to work in this field in my future time.</p>
            </div>
        </div>
    </div>
</section>
